{% extends 'base.html' %}

{% block content %}
<h1 id="signuptitle">Sign Up</h1>
<div class="container text-center signup">
    <form method="POST" class="">
        {{ form.hidden_tag() }}

        {{ form.username(class='form-control', placeholder='Username') }}
        {{ form.password(class='form-control', placeholder='Password') }}
        {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
        {{ form.first_name(class='form-control', placeholder='First Name (optional)') }}
        {{ form.last_name(class='form-control', placeholder='Last Name (optional)') }}
        {{ form.email(class='form-control', placeholder='Email') }}
        {{ form.submit(class='btn btn-primary justify-content-center') }}
    </form>
</div>
{% endblock %}