<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-image: linear-gradient(rgb(29, 17, 107), rgb(222, 105, 103), rgb(222, 105, 103));">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" style="background-color: rgb(236, 18, 34);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">WOOOOORDS</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navlinks" >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/pokedex'>Pokédex</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Pokémon Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Battle!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logMeOut') }}">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">My Account</a>
        </li>
      </ul>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>