{% extends 'base.html' %}

{% block content %}

<h1 id="signuptitle">Pokédex</h1>
<div style="display: flex; align-items: center; flex-direction: column;">
  <p></p>
  <p style="font-size:large;">Look up any Pokémon!</p>
</div>


<div class="poke_container">
  <div class="form-floating mb-3">
    <form method="POST" style="display: flex; justify-content: center;">
      {{ form.hidden_tag() }}
      <p>{{ form.pokereq(class='form-control', placeholder='Pokémon name or #') }}</p>
      <p></p>
      <p>{{ form.submit(class='btn btn-primary') }}</p>
    </form>
  </div>

  <div>

  </div>
</div>

{% if poke_dict %}
<div class="pokecard">
  {% if poke_dict['type1'] =="fire" %} 
    <div class="card"style="width: 18rem; background-image: linear-gradient(to bottom right,rgb(206, 0, 12), rgb(226, 12, 22), rgb(229 ,84, 36), rgb(245, 221, 199),  rgb(229 ,84, 36), rgb(226, 12, 22))">
  {% elif poke_dict['type1'] == "grass" %}
    <div class="card"style="width: 18rem; background-image: linear-gradient(to bottom right,rgb(16, 123, 41), rgb(23, 158, 43), rgb(106, 185, 39), rgb(233, 249, 193),  rgb(106, 185, 39), rgb(23, 158, 43))">
  {% elif poke_dict['type1'] == "water" %}
    <div class="card"style="width: 18rem; background-image: linear-gradient(to bottom right,rgb(7, 73, 210), rgb(16, 122, 210), rgb(58, 182, 233), rgb(216, 246, 251),rgb(58, 182, 233), rgb(16, 122, 210));">
  {% else %}
    <div class="card" style="width: 18rem;">
  {% endif %}
          <div class="card_top">
            <h5 class="card-title" style="font-weight: 800;">{{poke_dict['name']|capitalize}}</h5>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p style="font-size: small;">EXP</p>
            <p style="font-weight: 800;">{{poke_dict["base experience"]}}</p>
            <p></p>
            <p style="margin-right: 0; font-size: small;">HP
            <p style="font-weight: 800;">{{poke_dict["hp base stat"]}}</p>
            </p>
          </div>
          <img src="{{poke_dict['photo']}}" class="card-img-top pokeimage" alt="{{poke_dict['name']|capitalize}}"
            style="width:250px; height: 230px;">
          <div class="card-body cardstats" style=" padding: 8px; padding-bottom: 0;">
            <div class="cardstats" style="display: flex; justify-content: space-between;">
              <p class="card-text" style="font-weight: 800;">Pokémon #{{poke_dict["poke_id"]}}</p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
              <p></p>
              <p style="font-size: small;">ATK</p>
              <p style="font-weight: 800;">{{poke_dict['attack base stat']}}</p>
              <p></p>
              <p style="font-size: small;">DEF</p>
              <p style="font-weight: 800;">{{poke_dict['defense stat']}}</p>
            </div>
            <div class="cardstats" style="padding: 0px; margin: 0px; font-size: small;">
              <h6> style="padding: 0px; margin: 0px;">{{poke_dict['type1']|capitalize}} {% if poke_dict['type2'] %} /
                {{poke_dict['type2']|capitalize}} {% endif %}</h6>
            </div>
          </div>
          <ul class="list-group list-group-flush" style="">
            <li class="list-group-item"
              style=" font-weight: 800; padding-top: 5px; padding-bottom: 5px; padding-left: 8px;">
              Abilities</li>
            <li class="list-group-item" style=" font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
              {{poke_dict['ability1']|capitalize}}</li>
            <li class="list-group-item" style=" font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
              {{poke_dict['ability2']|capitalize}}</li>
          </ul>
          <div class="card-body" style="display: flex; justify-content: center;">
            <a href="/capture" method="POST" type="button" class="btn btn-secondary">Capture</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>
      {% endif %}


      {% endblock %}