{% extends 'base.html' %}

{% block content %}

<h1 id="signuptitle">Pokemon Training Gym</h1>
<div style="display: flex; align-items: center; flex-direction: column; padding-bottom: 50px;">
<p></p>
<p style="font-size:large;">Organize your pokemon into teams for battle!</p>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      My Teams
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        {% for team in myteams %}
            <li><a class="dropdown-item" href="/training/viewteam/{{ team.id }}">{{team.team_name}}</a></li>
        {% endfor %}
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/training">View All Pokemon</a></li>
      <li><a class="dropdown-item btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#newteammodal">Create a New Team</a></li>
    </ul>
  </div>



<!-- New Team Model -->
  <div class="modal" tabindex="-1" id="newteammodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Team</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{{ url_for('newTeam') }}" method="POST">
            <div class="modal-body">
                <input class="form-control form-control-lg" type="text" placeholder="New team name" name="teamname" aria-label=".form-control-lg example" required>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div style="display: flex; flex-wrap: wrap-reverse; justify-content: center;">
{% for pokemon in mypokemons %}
<div class="pokecard" style="padding-bottom: 25px; padding-left: 20px; padding-right: 20px;">
    <div class="card" style="width: 18rem; ">
      <div class="card_top">
        <h5 class="card-title" style="font-weight: 800;">{{pokemon.captured['name']|capitalize}}</h5>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p style="font-size: small;">EXP</p>
        <p style="font-weight: 800;">{{pokemon.captured["exp"]}}</p>
        <p></p>
        <p style="margin-right: 0; font-size: small;">HP
        <p style="font-weight: 800;">{{pokemon.captured["hp"]}}</p>
        </p>
      </div>
      <img src="{{pokemon.captured['poke_img']}}" class="card-img-top pokeimage" alt="{{pokemon.captured['name']|capitalize}}"
        style="width:250px; height: 230px;">
      <div class="card-body cardstats" style=" padding: 8px; padding-bottom: 0;">
        <div class="cardstats" style="display: flex; justify-content: space-between;">
          <p class="card-text" style="font-weight: 800;">Pokémon #{{pokemon["poke_id"]}}</p>
          <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
          <p style="font-size: small;">ATK</p>
          <p style="font-weight: 800;">{{pokemon.captured['attack']}}</p>
          <p></p>
          <p style="font-size: small;">DEF</p>
          <p style="font-weight: 800;">{{pokemon.captured['defense']}}</p>
        </div>
        <div class="cardstats" style="padding: 0px; margin: 0px; font-size: small;">
          <h9 style="padding: 0px; margin: 0px;">{{pokemon.captured['type1']|capitalize}} {% if pokemon.captured['type2'] %} /
            {{pokemon.captured['type2']|capitalize}} {% endif %}</h9>
        </div>
      </div>
      <ul class="list-group list-group-flush" style="">
        <li class="list-group-item" style=" font-weight: 800; padding-top: 5px; padding-bottom: 5px; padding-left: 8px;">
          Abilities</li>
        <li class="list-group-item" style=" font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
          {{pokemon.captured['ability1']|capitalize}}</li>
        <li class="list-group-item" style=" font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
          {{pokemon.captured['ability2']|capitalize}}</li>
      </ul>
      <div class="card-body" style="display: flex; justify-content:space-around;">
        <a href="/traning/release/{{ pokemon['id'] }}" style="height: max-content;" type="button" class="btn btn-secondary release">Release</a>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add to Team
            </a>
          
            <ul class="dropdown-menu">
            {% for team in myteams %}
                <li><a class="dropdown-item" href='/training/addtoteam/{{ team.id }}/{{ pokemon["poke_id"] }}/{{ pokemon.id }}'>{{team.team_name}}</a></li>
            {% endfor %}
            </ul>
        </div>
          
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}

<!-- <form action="{{ url_for('releasePokemon', poke_id=pokemon['poke_id']) }}" method="POST">
    <input type="hidden" name='_method' value="DELETE">
    <button style="height: max-content;" class="btn release">Release</a>
</form> -->