{% extends 'base.html' %}

{% block content %}

<h1 id="signuptitle">Pokemon Training Gym</h1>
<div style="display: flex; align-items: center; flex-direction: column;">
<p></p>
<p style="font-size:large;">Organize your pokemon into teams for battle!</p>
</div>

<div style="display: flex; flex-wrap: wrap-reverse; justify-content: center;">
{% for pokemon in mypokemons %}
<div class="pokecard" style="padding-bottom: 25px; padding-left: 20px; padding-right: 20px;">
    <div class="card" style="width: 18rem; ">
      <div class="card_top">
        <h5 class="card-title" style="font-weight: 800;">{{pokemon.captured['name']|capitalize}}</h5>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p style="font-size: small;">EXP</p>
        <p style="font-weight: 800;">{{pokemon.captured["exp"]}}</p>
        <p></p>
        <p style="margin-right: 0; font-size: small;">HP
        <p style="font-weight: 800;">{{pokemon.captured["hp"]}}</p>
        </p>
      </div>
      <img src="{{pokemon.captured['poke_img']}}" class="card-img-top pokeimage" alt="{{pokemon.captured['name']|capitalize}}"
        style="width:250px; height: 230px;">
      <div class="card-body cardstats" style=" padding: 8px; padding-bottom: 0;">
        <div class="cardstats" style="display: flex; justify-content: space-between;">
          <p class="card-text" style="font-weight: 800;">Pokémon #{{pokemon["poke_id"]}}</p>
          <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
          <p style="font-size: small;">ATK</p>
          <p style="font-weight: 800;">{{pokemon.captured['attack']}}</p>
          <p></p>
          <p style="font-size: small;">DEF</p>
          <p style="font-weight: 800;">{{pokemon.captured['defense']}}</p>
        </div>
        <div class="cardstats" style="padding: 0px; margin: 0px; font-size: small;">
          <h9 style="padding: 0px; margin: 0px;">{{pokemon.captured['type1']|capitalize}} {% if pokemon.captured['type2'] %} /
            {{pokemon.captured['type2']|capitalize}} {% endif %}</h9>
        </div>
      </div>
      <ul class="list-group list-group-flush" style="">
        <li class="list-group-item" style=" font-weight: 800; padding-top: 5px; padding-bottom: 5px; padding-left: 8px;">
          Abilities</li>
        <li class="list-group-item" style=" font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
          {{pokemon.captured['ability1']|capitalize}}</li>
        <li class="list-group-item" style=" font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
          {{pokemon.captured['ability2']|capitalize}}</li>
      </ul>
      <div class="card-body" style="display: flex; justify-content:space-around;">
        <a href="#" style="height: max-content;" method="POST" type="button" class="btn btn-secondary release">Release</a>
        <a href="#" style="height: max-content;" type="button" class="btn btn-secondary">Add to team</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}